{% extends "frontend/main.html" %}
{% load static %}
{% block content %}
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" >
                    <div class="container">
                         <div class="row d-flex justify-content-center">
                            <div class="col-lg-8 text-center">
                                <div class=" ">
                                    <h2 class="section-tittle">Hey, I’m a Product Designer​</h2>
                                    <p data-animation="fadeInLeft" data-delay=".6s">
                                        My name is nder and i’m Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat tellus, arcu, nibh diam cras tristique blandit ut amet.</p>
                                </div>
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    <a href="{% static 'industries.html" class="btn hero-btn" style="color:#ff7a00;">Hire Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





            {% endblock content %}