{% extends "frontend/main.html" %}
{% block content %}
{% load static %}


<style>
    .wantToWork-caption{
    z-index:1;}
    .wantToWork-H{
    color:#fff;
    }
    .wantToWork-caption{
        margin-top:190px;margin-left:-30px
    }
    .wantToWork-P{
        color:#fff;font-size:14px;line-height:21px;
        }
</style>
        <div class="have-project" style="margin-top:150px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="haveAproject"  data-background="{% static 'images/1.png' %}">
                                <div class="wantToWork-caption" style=";">
                                    <h4 class="wantToWork-H">Name</h4>
                                    <p class="wantToWork-P">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed est, blandit sed orci metus facilisis netus ac....... <a>View Case Study</a>
                                    </p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="haveAproject"  data-background="{% static 'images/2.png' %}">
                                <div class="wantToWork-caption" style=";">
                                    <h4 class="wantToWork-H">Name</h4>
                                    <p class="wantToWork-P">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed est, blandit sed orci metus facilisis netus ac....... <a>View Case Study</a>
                                    </p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="haveAproject"  data-background="{% static 'images/3.png' %}">
                                <div class="wantToWork-caption" style=";">
                                    <h4 class="wantToWork-H">Name</h4>
                                    <p class="wantToWork-P">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed est, blandit sed orci metus facilisis netus ac....... <a>View Case Study</a>
                                    </p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="haveAproject"  data-background="{% static 'images/4.png' %}">
                                <div class="wantToWork-caption" style=";">
                                    <h4 class="wantToWork-H">Name</h4>
                                    <p class="wantToWork-P">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed est, blandit sed orci metus facilisis netus ac....... <a>View Case Study</a>
                                    </p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="haveAproject"  data-background="{% static 'images/5.png' %}">
                                <div class="wantToWork-caption" style=";">
                                    <h4 class="wantToWork-H">Name</h4>
                                    <p class="wantToWork-P">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed est, blandit sed orci metus facilisis netus ac....... <a>View Case Study</a>
                                    </p>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="haveAproject"  data-background="{% static 'images/6.png' %}">
                                <div class="wantToWork-caption" style=";">
                                    <h4 class="wantToWork-H">Name</h4>
                                    <p class="wantToWork-P">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed est, blandit sed orci metus facilisis netus ac....... <a>View Case Study</a>
                                    </p>
                                </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="work-end  " style="background:#042858;margin-top:50px;">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="hero__btn p-3" data-animation="fadeInLeft" data-delay=".8s">
                        <a href="{% static 'industries.html" class="btnHire hero-btn" >Hire Me</a>
                    </div>

                </div>
            </div>
        </div>
{% endblock content %}